h1{
    margin:0;
    font-weight:normal;
}

#card-container {
    margin: auto;
    width: 1020px;
}

#card-col-main {
    width: 720px;
    float: left;
}

#card-col-side {
    width: 290px;
    float: right;
}

.card {
    margin-top: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#card-description {
    padding: 20px 15px 10px 15px;
}

#download-button {
    color: white;
    background-color: #4CAF50;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

#download-quality {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    padding: 5px;
}

#download-rename-label {
    margin-top: 10px;
    font-size: 12px;
    vertical-align: middle;
}

#download-rename {
    vertical-align: middle;
}

#video-title{
    font-size:24px;
    border-bottom:1px solid #E2E2E2;
    padding-bottom:10px;
}

#video-options{
    padding-top:10px;
}

#video-options td{
    padding:5px;
    color: #808080;
    font-size:13px;
    cursor: pointer;
}

#video-options td i{
    font-size:20px;
    vertical-align: middle;
    margin-right:5px;
}


.card-close-button{
    margin:-2px;
    float:right;
}